[submodule "internal/design"]
	path = internal/design
	url = https://github.com/WebAssembly/design.git
[submodule "testdata/spec"]
	path = testdata/spec
	url = https://github.com/WebAssembly/spec.git
