[submodule "internal/design"]
	path = internal/design
	url = https://github.com/WebAssembly/design.git
[submodule "testdata/wabt"]
	path = testdata/wabt
	url = https://github.com/WebAssembly/wabt.git
