[submodule "internal/design"]
	path = internal/design
	url = https://github.com/WebAssembly/design.git
[submodule "testsuite/testdata/spec"]
	path = testsuite/testdata/spec
	url = https://github.com/WebAssembly/spec.git
